*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    position: relative;
}
.nav-bar{display: flex;flex-direction:row;flex-wrap: wrap;justify-content: space-around;align-items: center;padding: 1.3rem 0;}
nav{background-color: cadetblue;box-shadow: 0px 7px 10px rgba(0,0,0,0.3);}

.nav-bar a{color: antiquewhite;text-decoration: none;font-size: 6vw;letter-spacing: 0.5vw;font-weight: bolder;}

#search-input{max-width: 400px;padding: 10px 20px;border: none;border-radius: 5px;font-size: 18px;color: #333;}
#search-btn{padding: 10px 20px;background-color: bisque;color: black;font-size: 18px;cursor: pointer;border-radius: 5px;margin-left: 10px;margin-right: 10px;}
#blog-container{width: 90%;height: max-content;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;gap:5rem;align-items: center;;margin: auto;padding-top: 20px;padding-bottom: 50px;}
.blog-card{width: 350px;height: fit-content;background-color: rgb(162, 201, 204);padding-top: 10px;padding-bottom: 20px;padding-left: 10px;padding-right: 10px;text-align: center;box-shadow: 2px 3px  2px 3px rgb(99, 100, 97);border-radius: 10px;cursor: pointer;}
.card-img{width:100%;height: 280px;object-fit: cover;}
.read-moreBtn{text-decoration: none;color:black;width: 100px;height: 30px;border-radius: 50px;border-color: gray;margin-top:10px;}

.blog-card :hover{box-shadow: 4px 4px 10px rgba(0,0,0,0.1);}

.blog-url :hover{background-color: cornflowerblue;}